<!-- Extending Layout -->
{% extends "layout.html" %}

<!-- Block Title -->
{% block title %} Index {% endblock %}

<!-- Block Main -->
{% block main %}

<!-- Information if no birthdays exist -->
{% if not birthdays %}
<i class="bi bi-stars text-secondary fs-1"></i>
<p class="text-secondary fs-5">No active birthdays</p>
{% endif %}

<!-- Loop through birthday cards -->
{% for birthday in birthdays %}
<div class="card rounded-3 mx-auto mb-4" style="width: 240px">
  <div class="card-body">
    <i class="{{ "bi bi-gender-male" if birthday['gender']=='m' else "bi bi-gender-female" }}"></i>
    <h5 class="{{ "card-title text-primary" if birthday['gender']=='m' else "card-title text-danger" }}">{{ birthday['name'] }}</h5>
    <p class="card-text">born {{ birthday['birth_date'].day }}.{{ birthday['birth_date'].month }}.{{ birthday['birth_date'].year }}</p>
  </div>

  <div class="progress" style="height: 5px; border-radius: 0px">

    <div
      class="{{ "progress-bar bg-primary" if birthday['gender']=='m' else "progress-bar bg-danger" }}"
      role="progressbar"
      style="width: {{ birthday['percentage'] }}%"
      aria-valuenow="{{ birthday['percentage'] }}"
      aria-valuemin="0"
      aria-valuemax="100"
    ></div>
  </div>
  <div class="card-footer text-muted">
    {% if birthday['days_until_birthday'] == 0 %}
    Happy {{ birthday['age'] }} Anniversary
    <img
            alt=""
            height="24"
            src="/static/party_popper.png"
            width="24"
          /> 
    {% else %}
    turns {{ birthday['age'] }} in {{ birthday['days_until_birthday'] }} days
    {% endif %}
  </div>
</div>
{% endfor %} {% endblock %}
