<!-- Extending Layout -->
{% extends "layout.html" %}

<!-- Block Title -->
{% block title %} Index {% endblock %}

<!-- Block Main -->
{% block main %}

<!-- Information if no birthdays exist -->
{% if not birthdays %}
<i class="bi bi-info-circle text-secondary"> No birthdays</i>
{% endif %}

<!-- Loop through birthday cards -->
{% for birthday in birthdays %}
<div class="card mx-auto mb-4" style="width: 240px">
  <div class="card-body">
    <h5 class="card-title">{{ birthday['name'] }}</h5>
    <p class="card-text">{{ birthday['birth_date'] }}</p>
  </div>
  <div class="card-footer text-muted">
    {{ birthday['days_until_birthday'] }} days left
  </div>
</div>
{% endfor %} {% endblock %}
