<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="utf-8" />
    <meta name="viewport" content="initial-scale=1, width=device-width" />

    <!-- https://getbootstrap.com/docs/5.2 -->
    <link
      crossorigin="anonymous"
      href="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/css/bootstrap.min.css"
      integrity="sha384-0evHe/X+R7YkIZDRvuzKMRqM+OrBnVFBL6DOitfPri4tjfHxaWutUpFmBp4vmVor"
      rel="stylesheet"
    />
    <script
      crossorigin="anonymous"
      integrity="sha384-pprn3073KE6tl6bjs2QrFaJGz5/SUsLqktiwsUTF55Jfv3qYSDhgCecCxMW52nD2"
      src="https://cdn.jsdelivr.net/npm/bootstrap@5.2.0-beta1/dist/js/bootstrap.bundle.min.js"
    ></script>

    <!-- https://favicon.io/emoji-favicons/party-popper -->
    <link href="/static/favicon.ico" rel="icon" />

    <link href="/static/styles.css" rel="stylesheet" />
    <title>Birthday Reminder</title>
  </head>
  <body>
    <nav class="navbar navbar-expand-lg bg-light">
      <div class="container-fluid">
        <a class="navbar-brand" href="/">
          <img
            alt=""
            class="d-inline-block align-text-top"
            height="24"
            src="/static/party_popper.png"
            width="24"
          />
          Birthday Reminder
        </a>
        <button
          aria-controls="navbar"
          aria-expanded="false"
          aria-label="Toggle navigation"
          class="navbar-toggler"
          data-bs-target="#navbar"
          data-bs-toggle="collapse"
          type="button"
        >
          <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbar">
          {% if session["user_id"] %}
          <ul class="navbar-nav me-auto">
            <li class="nav-item">
              <a class="nav-link" href="/add-birthday">Add Birthday</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/list-birthdays">List Birthdays</a>
            </li>
          </ul>
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/logout">Log Out</a>
            </li>
          </ul>
          {% else %}
          <ul class="navbar-nav ms-auto">
            <li class="nav-item">
              <a class="nav-link" href="/register">Register</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/login">Log In</a>
            </li>
          </ul>
          {% endif %}
        </div>
      </div>
    </nav>
    <main class="container-fluid py-5 text-center">
      {% block main %}{% endblock %}
    </main>
    <footer class="mb-5 small text-center text-muted">
      &#169; 2022 digitsensitive (<a href="https://github.com/digitsensitive"
        >Github</a
      >)
    </footer>
  </body>
</html>
