<!-- Extending Layout -->
{% extends "layout.html" %}

<!-- Block Title -->
{% block title %} List Birthdays {% endblock %}

<!-- Block Main -->
{% block main %}

<!-- Loop through birthdays array by month -->
{% for birthdays in birthdays_per_month %}
<ul class="list-group list-group-flush mx-auto mb-4" style="width: 240px">
  {% for birthday in birthdays %}
  <!-- Print month as title if first element from birthdays selected -->
  {% if loop.index == 1 %}
  <label class="fw-bold">{{ birthday['month'] }}</label>
  {% else %}
  <!-- If not the first element of birthdays selected, print birthday details -->
  <li class="list-group-item">
    {{ birthday['name'] }} - {{ birthday['birth_date'].day }}. {{
    birthday['month'] }}
    <a href="{{ url_for('edit', id=birthday['id']) }}"
      ><i class="bi bi-pencil"></i
    ></a>
    <a href="{{ url_for('delete', id=birthday['id']) }}"
      ><i class="bi bi-x-lg"></i
    ></a>
  </li>
  {% endif %} {% endfor %}
</ul>
{% endfor %} {% endblock %}
