<!-- Extending Layout -->
{% extends "layout.html" %}

<!-- Block Title -->
{% block title %} Login {% endblock %}

<!-- Block Main -->
{% block main %}

<!-- Display Error Message -->
{% if error_message %}
<div class="alert alert-danger" role="alert">{{ error_message }}</div>
{% endif %}

<!-- Form -->
<form action="/login" method="post">
  <div class="mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
      id="username"
      name="username"
      placeholder="Username"
      type="text"
    />
  </div>
  <div class="mb-3">
    <input
      autocomplete="off"
      class="form-control mx-auto w-auto"
      id="password"
      name="password"
      placeholder="Password"
      type="password"
    />
  </div>
  <button class="btn btn-dark" type="submit">Login</button>
</form>
{% endblock %}
