<!-- Extending Layout -->
{% extends "layout.html" %}

<!-- Block Title -->
{% block title %} Register {% endblock %}

<!-- Block Main -->
{% block main %}
<div class="alert alert-danger" role="alert">{{ error_message }}</div>
<form action="/register" method="post">
  <div class="mb-3">
    <input
      autocomplete="off"
      autofocus
      class="form-control mx-auto w-auto"
      id="username"
      name="username"
      placeholder="Username"
      type="text"
    />
  </div>
  <div class="mb-3">
    <input
      autocomplete="off"
      class="form-control mx-auto w-auto"
      id="password"
      name="password"
      placeholder="Password"
      type="password"
    />
  </div>
  <div class="mb-3">
    <input
      autocomplete="off"
      class="form-control mx-auto w-auto"
      id="password_confirmation"
      name="password_confirmation"
      placeholder="Repeat Password"
      type="password"
    />
  </div>
  <button class="btn btn-dark" type="submit">Register</button>
</form>
{% endblock %}
